body {
    text-align: center;
    background-image: url("https://cdn.pixabay.com/photo/2015/08/16/22/17/paper-891713_960_720.jpg");
    background-size: 100%
}

h1 {
    color: #ffffff;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    font-size: 100px;

}

.Botones{
    font-size: 50px;
}

.Boton{
    display: inline-block;
    text-align: center;
    background: white;
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.Inicio {
    position: relative;
    bottom: -900px;
    left: -800px;
    color: black;

}


